
.Home-container > .Center > .ExChange {
    display:flex;
    flex-direction: column;
    flex: 1 1;
}
.Home-container > .Center > .ExChange  > .account {
    width:100%;
    padding-bottom: 32px;
    flex: 1 1;
}
.Home-container > .Center > .ExChange  > .account  > .Title {
    border-bottom: 1px solid #2c3a43;
    max-width:1200px;
    padding: 0px 32px;
    box-sizing: border-box;
    width:100%;
    margin:0 auto;

    max-height: 56px;
    height: 56px;

    justify-content: space-between;

    align-items: center;
    display: flex;
    overflow:hidden;
    flex: 1 1;
}
.Home-container > .Center > .ExChange  > .account  > .Body {
    border-bottom:1px solid #2c3a43;
    padding-top:32px;
    line-height: 1.35;
    padding:32px 32px;
    box-sizing: border-box;
    width:100%;
    margin:0 auto;
}
.Home-container > .Center > .ExChange  > .account  > .Body > .top {
    display:flex;
    margin-bottom: 32px;
    justify-content: space-between;
}
.Home-container > .Center > .ExChange  > .account  > .Body > .top > .bundle {
    border:1px solid #2c3a43;
    display:flex;
    border-radius:8px;
    height:36px;
}
.Home-container > .Center > .ExChange  > .account  > .Body > .top > .bundle > .item {
    background: #202a30;
    border-radius: 8px 0 0 8px;
    display:flex;
    align-items: center;
    cursor: pointer;
}
.Home-container > .Center > .ExChange  > .account  > .Body > .top > .bundle > .item  > .pic {
    display:flex;
    align-items: center;
    margin-left: 12px;
    width:20px;
    height:20px;
    box-shadow: 0 0 0 2px #2c3a43;

    border-radius:100%;
    position: relative;
    background-size: cover;
    background-position: 50%;

}
.Home-container > .Center > .ExChange  > .account  > .Body > .top > .bundle > .item  >  p {
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 500;
}
.Home-container > .Center > .ExChange  > .account  > .Body > .top > .bundle > .plus {
    position:relative;
    cursor:default;
    margin-right: 0;
    border-radius: 0 8px 8px 0;

    display:flex;
    align-items: center;
    transition:.3s;
    position:relative;
    cursor:pointer;
    height: 36px;
}
.Home-container > .Center > .ExChange  > .account  > .Body > .top > .bundle > .plus > .flex {
    display:flex;
    align-items: center;
}
.Home-container > .Center > .ExChange  > .account  > .Body > .top > .bundle > .plus > .flex  > p {
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 500;
}
.Home-container > .Center > .ExChange  > .account  > .Body > .top > .bundle > .plus > .flex  > button  {
    color:#fff;
    background: #141a1e;
    border:1px solid #2c3a43;

    margin-right: 8px;
    width:28px;
    height:28px;
    border-radius:100%;
    position:relative;
    align-items: center;
    justify-content: center;
    transition:.3s;
}
.Home-container > .Center > .ExChange  > .account  > .Body >  .center {
    min-width: auto;
    width: -moz-fit-content;
    border-radius: 8px;
    margin-bottom: 28px;
}
.Home-container > .Center > .ExChange  > .account  > .Body >  .center > .title {
    display:flex;
    align-items: center;
    color:#c7d2da;
    font-size: 14px;
}
.Home-container > .Center > .ExChange  > .account  > .Body >  .center > .pay {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 8px;
    flex: 1 1;
}
.Home-container > .Center > .ExChange  > .account  > .Body >  .center > .edit {
    display:flex;
    align-items: center;
}
.Home-container > .Center > .ExChange  > .account  > .Body >  .center > .edit > .box {
    margin-right: 8px;
    transition:.3s;
    cursor:pointer;
    border:1px solid #1a2227;
    border-radius: 8px;
    background:#202a30;
    color:#fff;
    opacity: 1;
    padding: 4px 16px;
    align-items: center;
    display:flex;
    margin-bottom: 26px;

}
.Home-container > .Center > .ExChange  > .account  > .Body >  .tabs {
    display:flex;
}
.Home-container > .Center > .ExChange  > .account  > .Body >  .tabs  > button {
    border-bottom:2px solid #fff;
    color:#fff;
    background:none;
    padding:14px 16px;
    margin-bottom: -28px;
    font-weight: 500;
    transition:.3s;
    cursor:pointer;
    box-sizing:border-box;
    border-radius: 0;
}
.Home-container > .Center > .ExChange  > .account > .filter {
    max-width:100%;
    width:100%;
    padding: 16px 32px;
    box-sizing:border-box;
    margin:0 auto;

    position:relative;
    margin-bottom: 16px;

    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.Home-container > .Center > .ExChange  > .account > .filter > .left {
    display:flex;
    align-items: center;
}
.Home-container > .Center > .ExChange  > .account > .filter > .left  > .menu {
    visibility: visible;
    display: block;
    background:transparent none repeat scroll 0% 0%;
    border:1px solid #2c3a43;
    display:flex;
    align-items: center;
    padding: 4px 8px;
    border-radius: 8px;
    margin-right: 8px;
}
.Home-container > .Center > .ExChange  > .account > .filter > .left  > .menu > .item {
    background:#202a30;
    padding:4px 8px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
.Home-container > .Center > .ExChange  > .account > .filter > .left  > .drop {
    background:#1a2227;
    border:1px solid #2c3a43;
    height:32px;
    border-radius:8px;
    transition:.3s;
    display:flex;
    align-items: center;
    margin-left: 0;
    position:relative;
    cursor: default;

    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;

}
.Home-container > .Center > .ExChange  > .account > .filter > .right {
    display:flex;
    align-items: center;
    justify-content: flex-start;

}
.Home-container > .Center > .ExChange  > .account > .filter > .right  > .network {
    visibility: visible;
    border:1px solid #2c3a43;
    border-radius: 8px;
    width:-moz-fit-content;
    align-items: center;
    display:flex;
}
.Home-container > .Center > .ExChange  > .account > .filter > .right  > .network  > h1 {
    font-size: 12px;
    font-weight: 600;
    margin-left: 8px;

}
.Home-container > .Center > .ExChange  > .account > .filter > .right  > .bundle {

}
