
/*  Side Bar  */
.Home-container > .sidebar {
    min-width: 240px;
    width:100%;
    width:240px;
    height:100%;
    display:block;
}
.Home-container > .sidebar > .hidden {
    background:#141a1e;
    border-right:1px solid #2c3a43;
    display:flex;
    flex-direction: column;
    width:240px;
    height:100%;
    padding:16px;


    box-sizing:border-box;
    z-index: 10;
    position:fixed;
    overflow-y: auto;
    scroll-behavior: smooth;
    overflow-x:hidden;
}
.Home-container > .sidebar > .hidden > .brand {
    display:flex;
    align-items: center;
    cursor:pointer;
    margin-bottom: 32px;
    position:relative;
}
.Home-container > .sidebar > .hidden > .brand  > .hat {
    position:absolute;
    transform: rotate(15deg);
    bottom:18px;
    left:8px;
    width:28px;


}
.Home-container > .sidebar > .hidden > .brand  > img {
    width:32px;
    height:32px;
}
.Home-container > .sidebar > .hidden > .brand  > span {
    margin-left: 12px;
    font-size: 20px;
    font-weight: 600;
    color:#fff;
}
.Home-container > .sidebar > .hidden > .connected {

    display:flex;
    flex-direction: column;
    flex: 1 1;

}
.Home-container > .sidebar > .hidden > .connected > .account {
    position:relative;
    cursor:pointer;

}
.Home-container > .sidebar > .hidden > .connected > .account  > .header {
    background:#1a2227;
    color:#fff;
    border:1px solid #2c3a43;

    display:flex;
    align-items: center;
    padding: 0 12px;
    height:54px;
    border-radius:8px;
    font-weight: 500;
    cursor:pointer;
}
.Home-container > .sidebar > .hidden > .connected > .account  > .header > .blockie {
    width:40px;
    height:40px;
    box-shadow: 0 0 0 2px #2c3a43;
    cursor:pointer;
    position:relative;
    border-radius:100%;
    background-size:cover;
    background-position: 50%;
}
.Home-container > .sidebar > .hidden > .connected > .account  > .header > .blockie > .edit {
    align-items: center;
    justify-content: center;
    border-radius:100%;
    position:absolute;
    z-index: 11;
    opacity: 0;
    width:100%;
    height:100%;
    transition:.3s;
    display:flex;
    background: rgba(0,34,57,.25);
}
.Home-container > .sidebar > .hidden > .connected > .account  > .header > .blockie >  span {
    position:absolute;
    bottom:2px;
    right:0;
    width:8px;
    height:8px;
    border-radius: 5px;
    background:#00d897;
}

.Home-container > .sidebar > .hidden > .connected > .account  > .header > .blockie >  canvas {
    width:40px;
    height:40px;
}

.Home-container > .sidebar > .hidden > .connected > .account  > .header > .hide {
    margin-left: 12px;
    flex: 1 1;
}
.Home-container > .sidebar > .hidden > .connected > .account  > .header > .hide > .flex {
    display:flex;
    align-items: center;
}
.Home-container > .sidebar > .hidden > .connected > .account  > .header > .hide > .flex > span {
    font-size: 12px;
    font-weight: 600;
}
.Home-container > .sidebar > .hidden > .connected > .account  > .header > .hide > .flex > img {
    margin-left: 4px;
    transition:.3s;
    color:#fff;
}
.Home-container > .sidebar > .hidden > .connected > .account  > .header > .hide > .xp {
    background:#2c3a43;
    height:4px;
    position:relative;
    border-radius:4px;
    width:100%;
    display:block;
}
.Home-container > .sidebar > .hidden > .connected > .account  > .header > .hide > .xp > span {
    width:16%;
    background:#784ffe;
    height:4px;
    border-radius: 8px;
    position:absolute;
    top:0;
    left:0;
}

.Home-container > .sidebar > .hidden > .connected > .account  > .header > .hide > .gaming {
    color:#c7d2da;
    font-size: 10px;
    line-height: 1.4;
    font-weight: 400;
    margin-top: 3px;
    justify-content: space-between;
    display:flex;
    align-items: center;
}

.Home-container > .sidebar > .hidden > .connected  > .gamification {
    display:grid;
    grid-gap:8px;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 8px;
    grid-template-columns: 1fr 1fr;
}
.Home-container > .sidebar > .hidden > .connected  > .gamification  > .visible {
    border: 0;
    padding: 0;

    min-height: 22px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.Home-container > .sidebar > .hidden > .connected  > .gamification  > .visible > button {
    width:100%;
    color:#c7d2da;
    background:#202a30;
    border-radius: 4px;
    font-size: 12px;
    height:auto;
    padding: 3px 6px;
    line-height: normal;

    border:none;
    outline:none;
    font-weight: normal;
}

.Home-container > .sidebar > .hidden > .connected  > .gamification  > .visible > button > .notification {
    display:block;
    position:absolute;
    width:8px;
    height:8px;
    border-radius:8px;
    top:-4px;
    right: -4px;
}

.Home-container > .sidebar > .hidden > .connected  > .sidebar_menu {
    margin-top: 16px;

}

.Home-container > .sidebar > .hidden > .connected  > .sidebar_menu  > .menu--active {
    display:flex;
    padding:4px 0;
    align-items: center;
    border-radius: 8px;
    transition:.3s;
    margin-bottom: 8px;
    color:#fff;

}

.Home-container > .sidebar > .hidden > .connected  > .sidebar_menu  > .menu--active > .icon {
    display:flex;
    align-items: center;
    width:30px;
    height:30px;
    border-radius:100%;
    color:#fff;
    transition:.3s;
}
.Home-container > .sidebar > .hidden > .connected  > .sidebar_menu  > .menu--active > span {
    font-weight: 500;
    margin-left: 8px;
}
.Home-container > .sidebar > .hidden > .connected  > .sidebar_menu > .more {
    display:flex;
    padding:4px 0;
    color:#c7d2da;
    align-items: center;
    border-radius:8px;
    transition:.3s;
    margin-bottom: 8px;;
    width:30px;
    height:30px;
}
.Home-container > .sidebar > .hidden > .connected  > .sidebar_menu > .more  > .flex {
    justify-content: center;
    width:30px;
    height:30px;
    border-radius:100%;
}
.Home-container > .sidebar > .hidden > .connected  > .sidebar_menu > .more  > span {
    margin-left: 20px;
}

.Home-container > .sidebar > .hidden > .connected  > .flex-max {
    flex: 1 1;

}
.Home-container > .sidebar > .hidden > .connected  > .menu_item {
    color: #c7d2da;
    display:flex;
    padding:4px 0;
    align-items: center;
    border-radius: 8px;
    transition:.3s;
    margin-bottom: 8px;
}
.Home-container > .sidebar > .hidden > .connected  > .menu_item  > .icon {
    display:flex;
    align-items: center;
    justify-content: center;
    height:30px;
    width:30px;
    border-radius:100%;
}
.Home-container > .sidebar > .hidden > .connected  > .menu_item  > span {
    margin-left: 8px;
}

.Home-container > .sidebar > .hidden > .connected  > .network {
    position: relative;
    cursor:default;
    border:1px solid #2c3a43;
    background:#1a2227;

    display:flex;
    height:50px;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    transition:.3s;
    border-radius:8px;
    font-weight: 500;
    cursor:pointer;
    user-select: none;
}
.Home-container > .sidebar > .hidden > .connected  > .network  > img {
    width:30px;
    box-shadow:  0 0 0 2px #2c3a43;
    border-radius:100%;
    user-select: none;;
}
.Home-container > .sidebar > .hidden > .connected  > .network > h1 {
    margin-left: 8px;
    flex: 1 1;
    font-size: 14px;
}

.Home-container > .sidebar > .hidden > .connected  > .network > .flex-max {
    display:flex;
    align-items: center;
    flex: 1 1;
}
.Home-container > .sidebar > .hidden > .connected > .form {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    flex-direction: row;
    gap:0;
    padding-left: 0;
    padding-right: 0;
}
.Home-container > .sidebar > .hidden > .connected > .form > .language {
    width: -moz-fit-content;
    color:#fff;
    max-width:200px;
    margin:0;
    height: 30px;

    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 8px;
    font-size: 14px;
    border:1px solid #2c3a43;
    background:#1a2227;

}
.Home-container > .sidebar > .hidden > .connected > .form > .language  > img {
    width:20px;
    height:20px;
    border-radius:100%;
    box-shadow: 0 0 0 2px #2c3a43;
    margin:0px;
}
.Home-container > .sidebar > .hidden > .connected > .form > .language  > .title {
    display:flex;
    padding-left:8px;
    align-items: center;
}

.Home-container > .sidebar > .hidden > .connected > .form > .language  > .title  > .button {
    align-items: center;
}
.Home-container > .sidebar > .hidden > .connected > .form > .toggle {
    width:fit-content;
    position:relative;
    display:inline-block;
    text-align: left;
    opacity: 1;
    direction: ltr;
    border-radius: 17px;
    /*transform: opacity 0.25s ease 0s;*/
    touch-action: none;
    user-select: none;

}

.Home-container > .sidebar > .hidden > .connected > .form > .toggle > .bg {
    height: 34px;
    width:64px;
    margin: 0;
    position:relative;
    background: rgb(120,79,254) none repeat scroll 0% 0%;
    border-radius: 8px;
    cursor:pointer;
    /*transition: background 0.25 ease 0s;*/
}
.Home-container > .sidebar > .hidden > .connected > .form > .toggle > .bg > .icon {

}
.Home-container > .sidebar > .hidden > .connected > .form > .toggle > .bg > .icon  > .switch {

}


@media screen and (max-width: 1200px) and (min-width: 600px) {
    .Home-container > .sidebar {
        width:81px;
        min-width: 81px;
    }
    .Home-container > .sidebar > .hidden {
        width:81px;
        min-width: 81px;
        padding:16px 8px;
        overflow-y: hidden;
    }
    .Home-container > .sidebar > .hidden > .brand {
        justify-content: center;
    }
    .Home-container > .sidebar > .hidden > .brand > span {
        display: none;
    }
    .Home-container > .sidebar > .hidden > .connected > .account > .header {
        padding: 0 12px;
    }
    .Home-container > .sidebar > .hidden > .connected > .account > .header > .hide {
        display: none;
    }

    /* 퀘스트 미션 이동 */
    .Home-container > .sidebar > .hidden > .connected > .gamification {
        grid-template-columns:  repeat(1,1fr);
        margin-top: 8px;
        padding:0;
    }

    .Home-container > .sidebar > .hidden > .connected > .sidebar_menu > .menu--active {
        justify-content: center;
    }
    .Home-container > .sidebar > .hidden > .connected > .sidebar_menu > .menu--active > span {
        display: none;
    }

    .Home-container > .sidebar > .hidden > .connected > .sidebar_menu > .more {
        justify-content: center;
    }

    .Home-container > .sidebar > .hidden > .connected > .sidebar_menu > .more > span {
        display: none;
    }
    .Home-container > .sidebar > .hidden > .connected > .menu_item {
        justify-content: center;
    }
    .Home-container > .sidebar > .hidden > .connected > .menu_item > span {
        display: none;
    }
    .Home-container > .sidebar > .hidden > .connected > .network > h1 {
        display: none;
    }

    .Home-container > .sidebar > .hidden > .connected > .network > .hide {
        display: none;
    }

    .Home-container > .sidebar > .hidden > .connected > .form > .language > .title > span {
        display: none;
    }
    .Home-container > .sidebar > .hidden > .connected > .form > .toggle {
        display:none;
    }

}

@media screen and (min-width: 600px) {
    .Home-container {
        flex-direction: row;
    }
}

@media screen and (max-width:600px) {
    .Home-container > .sidebar {
        display:none;
        pointer-events: none;
        position:fixed;

    }
}