
/** Main Container **/
.Home-container {
    width:100%;
    max-width: 1480px;
    min-height:100%;
    margin: 0 auto;
    display:flex;
}
.Home-container > .Container {
    display:flex;
    flex-direction: column;
    flex: 1 1;
    max-width: 890px;
}
.Home-container > .Container > .Wrapper {
    width:100%;
    padding-bottom: 32px;
    flex: 1 1;
}

.Wrapper > .Top {
    display: flex;
    flex-direction: column;
    max-width:1200px;
    padding: 0px 32px;
    box-sizing: border-box;
    widgh:100%;
    margin:0 auto;

}


/** Left SideBar **/
.SideBar {
   height:100%;
    width:240px;
    display:block;
}
.SideBar > .hidden {
    background:#141a1e;
    border-right: 1px solid #2c3a43;

    flex-direction: column;
    height: 100%;
    padding:16px;
    box-sizing: border-box;
    position: fixed;

    z-index: 10;
    overflow-y: auto;
}
.SideBar > .hidden {
    background:#141a1e;
    border-right: 1px solid #2c3a43;

    flex-direction: column;
    height: 100%;
    padding:16px;
    box-sizing: border-box;
    position: fixed;
    z-index: 10;
    overflow-y: auto;
}
.hidden > .Brand {
   display:flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 32px;
}
.Brand > .mid {
    margin-left: 12px;
}
.mid > span {
    font-size: 20px;
    font-weight:600;
}
.account_connected {
    display:flex;
    flex-direction: column;
    flex: 1 1;
}
.account_connected > .account {
    position: relative;
    cursor:default;
}
.account > .header {
    background:#1a2227;
    color:#fff;
    border:1px solid #2c3a43;

    display:flex;
    align-items: center;
    padding: 0 12px;
    height: 54px;
    transition: .3s;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
}
.header > .sidebar {
    display:flex;
    align-items: center;
    width:100%;

}
.sidebar > .blockie {
    width:40px;
    height: 40px;
    position: relative;
    border-radius: 100%;
    cursor:pointer;
    background-size:cover;
    background-position: 50%;
    box-shadow: 0 0 0 2px #2c3a43;
}
.blockie > .edit {
  align-items: center;
    justify-content: center;
    border-radius: 100%;
    position:absolute;
    z-index:11;
    opacity: 0;
    transition: 3s;
    width:100%;
    height: 100%;
    display:flex;
    background-color:rgba(0,34,57,.25);
}
.blockie > span {
    position: absolute;
    bottom: 2px;
    right: 0;
    width: 8px;
    height: 8px;
    border-radius: 5px;
    background: #00d897;
}
.blockie > canvas {
    width:40px;
    height: 40px;
    border-radius: 100%;
}
.flex-max {
    margin-left: 12px;
    flex: 1 1;

}
.flex-max > .flex {
    display:flex;
    align-items: center;
}
.flex > .title {
    font-size:16px;
    display:flex;
    flex: 1 1;
    color:red;
    align-items: center;
}
.flex > .level {
    display:flex;
    align-items: center;
}
.exp {
    width:129px;
    height: 4px;
}
.exp > .xp {
    background:#2c3a43;
    height:4px;
    position:relative;;
    border-radius: 8px;
    width:100%;

    display:block;
}
.xp > span {
    width:6%;
    background: #784ffe;
    height:4px;
    border-radius: 8px;
    position: absolute;
    top:0;
    left:0;
}
.gaming {
    color:#c7d2da;
    font-size:10px;
    line-height: 1.4;
    font-weight: 400;
    justify-content: space-between;
    align-items: center;
    display:flex;
}
.gaming > span {
    font-size:8px;
    line-height: 1.4;
    font-weight: 400;
    display:flex;
    align-items: center;
}
/* Quest Reward 이동 */
.sidebar__gamification {
    display:grid;
    grid-gap: 8px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 8px;
}
.sidebar__gamification > a {
    text-decoration: none;
    transition: .3s;
    color:inherit;
    cursor: pointer;
}
.sidebar__gamification > a > button {
   color:#c7d2da;
    background: #202a30;
    min-height: 22px;
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width:100%;
    border-radius: 4px;
    font-size: 12px;
    height:auto;
    line-height: normal;
    padding:3px 6px;
    font-weight: 500;
    outline: none;
    transition: 3s;
    cursor: pointer;
    white-space: nowrap;

    position:relative;

    text-transform: none;
    vertical-align: baseline;
    margin:0;
    border:none;
}
.sidebar__gamification > a > button > .flex {
    display:flex;
    align-items: center;
}
.flex > .notification {
    display:block;
    position: absolute;
    width:8px;
    height: 8px;
    border-radius: 8px;
    top:-4px;
    right:-4px;
    background:#784ffe;
    color:#000000;
}
a > button > .alt {
    margin-right: 4px;
}
.menu {
    margin-top: 16px;
    display:block;

}
.menu > .link {
    display:flex;
    padding: 4px 0;
    align-items: center;
    border-radius: 8px;
    transition: 3s;
    margin-bottom: 8px;
    cursor: pointer;
}
.link > .active {
    color:#fff;
    font-weight: bold;
}
.link > .icon {
    display:flex;
    align-items: center;
    justify-content: center;
    width:30px;
    height: 30px;
    border-radius: 100%;
}
.link > span {

    margin-left: 8px;
    color:#ffffff;

}


 .menu > .more {
    cursor:pointer;
}
 .menu_item {
     display: flex;
     padding:4px 0;
     align-items: center;
     border-right: 8px;
     transition: .3s;
     margin-bottom: 8px;
 }
 .menu_item > .icon {
     display: flex;
     align-items: center;
     justify-content: center;
     height:30px;
     width:30px;
     border-radius: 100%;
 }
 .menu_item > span {
     margin-left: 8px;
 }
 .more > .show {
     position:fixed;
     inset: 0px auto auto 0px;
     transform: translate3d(432px, 472px, 0px);
     z-index: 10;
     box-shadow: 0 2px 8px rgba(245,251,255,0.1);
 }
.show > .item {
     padding: 8px 8px;
     border-radius: 8px;
     border: 1px solid #ffffff;
     background-color:rgba(20,26,30);

 }
.show > .item > a {
     color:#c7d2da;
     display:flex;
     padding: 4px 0;
     align-items: center;
     border-radius: 8px;
     transition: .3s;
     margin-bottom: 8px;
 }


.flex-max1 {
    flex: 1 1;
    display:flex;
    min-height: 523px;
}

.footer {
    position:absolute;
    bottom:0px;
    overflow:hidden;
    right: 0px;
}


/** Settings **/
.settings {
   color:#c7d2da;
    display: flex;
    padding: 4px 0;
    align-items: center;
    border-right: 8px;
    transition: .3s;
    margin-bottom: 8px;
    overflow:hidden hidden;

}

.settings > .icon {

}
.settings > .icon > .flex {
    align-items: center;
    display: flex;
}
.settings > span {
    margin-left: 8px;
}
/** Settings **/

.network {
    position:relative;
    cursor: default;
    /*border-bottom: 1px solid rgb(255,255,255);*/
}
.network > .header {
   border:1px solid #2c3a43;
    background: #1a2227;
    height: 50px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    transition: .3s;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
}
.network > .header > .flex {
    display:flex;
    flex: 1 1;
    align-items: center;
}

.flex > .network_icon {
    box-shadow: 0 0 0 2px #2c3a43;
    width:30px;
    border-radius: 100%;
    user-select: none;
    vertical-align: middle;
}
.flex > .network_label {
    margin-left: 8px;
    flex:1 1;
}
.flex > .hide {

}
.hide > .flex {
    display:flex;
    align-items: center;
}
.hide > .flex > svg {
    margin-left: 4px;
    transition: .3s;
    color:#fff;
    float:right;
}

/* language */
.language {
    padding-top: 12px;
    justify-content: space-between;
    display:flex;
}
.language > .pop {
   width:fit-content;
    cursor:pointer;
}
.language > .pop > .box {
    margin:0;
    height:30px;
    max-width: 200px;
    transition: .3s;
    border:1px solid rgb(44,58,67);
    display:flex;
    align-items: center;
    padding: 0px 8px;
}
.language > .pop > .box > img {
      border-radius: 100%;
    width:20px;
    height: 20px;
    box-shadow: 0 0 0 2px #2c3a43;
    vertical-align: middle;
    border:0;
}
.language > .pop > .box > .title {
    padding-left: 8px;
    align-items: center;
    display: flex;
}
.language > .pop > .box > .title > span {
    fon-size:12px;
}
.language > .pop > .box >  .title > .up {
   display:flex;
    align-items: center;
}


/** switch **/
.themeSwitch {
    width:64px;
    height:34px;


}
.themeSwitch > .night {
    position:relative;
    display:inline-block;
    text-align: left;
    opacity: 1;
    direction: ltr;
    border-radius: 17px;
    transition:opacity 0.25s ease 0s;
    touch-action:none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    user-select: none;
}
.night > .switch {
      height:34px;
    width: 64px;
    margin:0px;
    position: relative;
    background: rgb(120,79, 254);
    border-right: 8px;
    cursor: pointer;
    transition: background 0.25s ease 0s;
}
.night > .switch > .bg {
    height: 34px;
    width: 64px;
    position: relative;
    opacity: 1;
    pointer-events: none;
    transition: opacity 0.25s ease 0s;
}
.night > .switch > .bg > .icon {
    justify-content: center;
    height: 100%;
    display:flex;
    align-items: center;
}
.night > .switch > .bg > .icon > img {
    vertical-align: middle;
    border: 0;
}
.night > .switch > .toggle {
    height: 34px;
    width:39px;
    position: absolute;
    opacity: 0;
    right: 0px;
    top: 0px;
    pointer-events: none;
    transition: opacity 0.25s ease 0s;
}
.night > .switch > .toggle > .icon {
    justify-content: center;
    height: 100%;
    display:flex;
    align-items: center;
}

/** DashBoard **/
.DashBoard {
    flex-direction: column;
    flex: 1 1;
    height: 1176px;
    padding-bottom:32px;

}
.DashBoard > .Wrapper {
    width:100%;
    max-width: 890px;
    border-bottom: 1px solid rgba(44,58,67);
}
.Wrapper > .Body {
    padding-bottom: 16px;
}
.Body > .Container {
}
.Container > .title {
    padding: 0px 32px;
    margin:16px 0px;
    overflow:hidden;
    display:flex;
    flex: 1 1;
}
.title > .grid {
    display:grid;
    grid-template-columns: min-content minmax(
     100px,min-content
    );
}
.grid > .text {
    white-space: nowrap;
    text-overflow:ellipsis;
    font-size:18px;
    border:none;
    font-weight:bold;
}
.DashBoard > .account {
    width:100%;
    max-width:890px;
    padding-top:32px;
    margin-bottom: 32px;

}
.account > .Body {
    padding:0px 32px;
}
.Body > .top {
    margin-bottom: 32px;
    display:flex;
    justify-content: space-between;
}
.top > .bundle {
    border:1px solid #2c3a43;
    display:flex;
    height:36px;
    border-radius: 8px;
}
.bundle > .item {
    background:#202a30;
    border-radius: 8px 0 0 8px;
    display:flex;
    align-items: center;
    transition: .3s;
    position:relative;
    cursor: pointer;
    height: 36px;
}
.bundle > .account {
    position:relative;
    cursor: default;

}
.item > .icon {
   display:flex;
    align-items: center;
    margin-left: 12px;
}
.icon > .blockie {
    width:20px;
    height: 20px;
    box-shadow: 0 0 0 2px #2c3a43;
    border-radius: 100%;
}
.item > .label {
   padding: 8px 12px;
    font-size:14px;
    font-weight: 500;
}
.worth {
   width: fit-content;
    border-radius: 8px;
    margin-bottom: 28px;
}

/** account **/
.account > .right {
    margin-right: 0;
    border-radius: 0 8px 8px 0;
    display:flex;
    transition: .3s;
    position: relative;
    cursor: pointer;
    height: 36px;
}
.account > .right > .icon {
    display:flex;
    align-items: center;
    margin-left: 12px;
}
.account > .right > .flex  {
    display:flex;
    align-items: center;
}
.account > .right > .flex > .label {
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 500;
}
.account > .right > .flex > button {
    color:#fff;
    background:#141a1e;
    border: 1px solid #2c3a43;
    margin-right: 8px;
    width:28px;
    height: 28px;
    border-radius: 100%;
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s;
}
.worth {
     padding: 0px 32px;
    min-width: auto;
    border-radius: 8px;
    margin-bottom: 28px;
}
.worth > .title {
    color: rgba(199,210,218);
    align-items: center;
    display:flex;
}
.worth > .doller {
    margin-bottom: 8px;
    display:flex;
    font-size:30px;
    font-weight:500;
}
.worth > .edit {
    display:flex;
    align-items: center;
}
.edit > .totalen {
    transition:3s;
    cursor: pointer;
    border:1px solid #2c3a43;
    border-radius: 8px;
    padding:4px 16px;
    margin-right: 8px;
}
.tabs {
    display:flex;
    padding: 0px 32px;
    border-bottom:1px solid #2c3a43;
    max-width: 890px;
}
.tabs > .item {
    padding: 12px 16px;
    color:#fff;
    background:none;
    border:none;

    min-width:100px;
    font-weight: 500;
    transition: .3s;
    cursor: pointer;
    box-sizing:border-box;
    border-radius: 0;
}
.tabs > .item:active {
    color:#fff;
    border-bottom:2px solid #fff;

}
.filter {
    box-sizing: border-box;
    margin:16px auto;
    padding:0px 32px;
}
.filter > .container {
    position:relative;
    max-width: 826px;
    padding: 16px 0px;
    box-sizing:border-box;
}
.filter > .container > .box {
    padding: 0px 16px;
    position:relative;
    margin-bottom: 16px;
    flex-direction: row;
    justify-content: space-between;
    display:flex;
}
.box > .left {
      align-items: center;
    display: flex;

}
.box > .left > .control {
    border:1px solid #2c3a43;
    display:flex;
    align-items: center;
    padding: 4px 8px;
    border-radius: 8px;
    margin-right: 8px;
}
.box > .left > .control > .item {
    padding: 4px 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
    font-size:12px;
    text-transform: uppercase;
    font-weight: 600;
    display:flex;
    align-items: center;
}
.box > .left > .control > .item:active {
    background:#202a30;
}
.box > .left > .settings {
   background:#1a2227;
    border:1px solid #2c3a43;

    height:32px;
    border-radius: 8px;
    display:flex;
    align-items: center;
    position: relative;
    cursor: default;
}



/** settings **/
.settings > .item {
    padding:4px 8px;
    border-radius:8px;
    cursor:pointer;
    font-size:12px;
    text-transform: uppercase;
    font-weight: 600;

    display:flex;
    align-items: center;
}
.settings > .item > .flex {
    display:flex;
    align-items: center;

}
.settings > .item > .flex > span {
    font-size:14px;
    font-weight:500;
    margin-left: 8px;
}
.box > .network {
    align-items: center;
    display:flex;
    cursor:pointer;
    transition: .3s;
    border:1px solid #000;
    background: #202a30;

}
.box > .network > .box {
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    align-items: center;
    display: flex;
    padding: 8px 12px;
}
.network > .box > .title {
    display:block;
    margin-left: 8px;
}


/** footer **/
.footer {
    width:100%;
    max-width:890px;
    padding-bottom:32px;
    flex: 1 1;
    bottom:0;

}
.footer > .container {
    color:#c7d2da;
    border-top: 1px solid #2c3a43;
    padding: 30px 0px;
}
.footer > .container > .body {
    display:flex;
    align-items: center;
    padding: 0px 32px;
    justify-content: space-between;
    margin: 0 auto;
    box-sizing:border-box;
    color:#ffffff;
}
.footer > .container > .body > .link {
    display:flex;
    font-size:14px;
    margin-bottom: 8px;
    color:#ffffff;

}
.footer > .container > .body > .flex {
      display:flex;
    align-items: center;
}
.footer > .container > .body > .flex > a {
    margin-right: 16px;
    color:#ffffff;
}


/* Widgets */
.Widgets {
    position: fixed;
    z-index: 10;
    height: 100%;
    display: flex;
    width: 350px;
    flex-direction: column;
    left:calc(50% + 390px);
    overflow: hidden auto;
}
.Widgets > .Container {
    padding-top:12px;
    padding-bottom: 16px;
}
.Container > .Body {
    display:flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;

}
.Container > .Body > .Box {
    padding-bottom: 16px;

}

.Box > .Search {
   max-width: 400px;
    position: relative;
    flex: 1 1;
    display:flex;
}
.Box > .Search > svg {
    position:absolute;
    left:0;
    top:8px;
    z-index: 1;
    margin-left: 12px;
}
.Box > .Search > .container {
    position: relative;
    box-sizing: border-box;
    background: #202a30;
    box-shadow: none;
    height:40px;
    flex:1 1;
    border-radius: 8px;
    cursor:text;
}
.Box > .Search > .container > .text {
    flex-shrink: 0;


}
.Box > .Toggle {
    padding-top: 4px;
    justify-content: space-between;
    align-items: center;
    display:flex;
}
.Box > .Toggle > .Title {
    font-size: 14px;
    font-weight: 500;
}
/* Token Box */
.Box > .Token {
    transition: .3s;
    box-sizing: border-box;
    border:1px solid rgb(26,34,39);
    border-radius: 8px;
    padding: 12px 12px;
    background: rgb(26,34,39);
}

.Token > .Container {
    display:flex;
    flex-direction: column;
}

.Token > .Container > .Box {
    overflow: hidden;
    border:1px solid rgb(44,58,67);
    border-radius: 8px;
}

.Container > .Box > a {
    transition: 3s;
}
.Container > .Box > a > .url {
    background:rgb(20,26,30);
    transition:3s;
    padding: 4px 8px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.url > .title {
    align-items: center;
    display:flex;
}
.url > .title > img {
    width:30px;
    height: 30px;
    background: #141a1e;
    box-shadow: 0 0 0 2px #2c3a43;
    border-radius: 100%;
    margin-left: 8px;
    margin-right: 8px;
    vertical-align: middle;
}
.url > .title > .description {
    display: flex;
    flex-direction: column;
}
.url > .title > .description > span {
    text-align: left;
    font-weight: 500;
    color:#ffffff;
    font-size: 14px;

}
.url > .doller {
    display:flex;
    align-items: flex-end;
    flex-direction: column;

}
.doller > .line  {
    font-weight: 500;
    font-size: 16px;
    color:#ffffff;
}
.doller >  .rate {
    align-items: center;
    display:flex;
}
.doller > .rate > .percent {
    font-weight: 500;
    font-size:14px;
    color:#f1356e;
}
.doller > .rate > .title {
    font-size: 12px;
    font-weight: 500;
    color:#ffffff;

}

.List > .Title {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
}
.List > .Title > h4 {
    font-size: 14px;
    font-weight: 500;

}
.List > .Title > .Page {
    align-items: center;
    display:flex;

}
.List > .Title > .Page > button {
    cursor: not-allowed;
    background:transparent;
    align-items: flex-start;
    border:none;
    color:#c7d2da;
}
.List > .Title > .Page > .nation {
    font-size: 12px;
}
.Page > button > .aria {
    transition: .3s;
    align-items: center;
    display:flex;
}


.Box > .Network {
    transition: .3s;
    box-sizing: border-box;
    border:1px solid rgb(44,58,67);
    background: rgb(26,34,39);
    padding: 12px 12px;
}

.Box > .Network > .trend {
    margin-top: 16px;
    display:flex;
    flex-direction: column;
}

.trend > .title {
    font-size: 14px;
    color:rgb(199, 210, 218);
    font-weight: 500;
    padding-bottom: 12px;
}
.trend > .graph {
    display:flex;
    flex-direction: column;
}
.trend > .graph > .container {
    padding: 8px 12px;
    border: 1px solid rgba(20,26,30);
}
.graph > .container > .title {
    padding-bottom: 16px;
    justify-content: space-between;
    display:flex;
}
.graph > .container > .title > .gawi {
    align-items: center;
    display:flex;
}
.Box > .Network > .group {
    display:flex;
    flex-direction: column;
}
.group > .title {
    padding-bottom: 12px;
}
.group > .title > h4 {
    color:rgb(199,210,218);
    font-size: 14px;
    font-weight: 500;
    align-items: center;
    display:flex;
}
.group > .fee {
    display:flex;
    flex-direction: column;
}
.fee > .container {
    overflow:hidden;
    border:1px solid rgb(44,58,67);
    padding:8px 8px;
    display:flex;

    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}
.fee > .container > .flex {
   display:flex;
    flex-direction: column;
    color:#ffffff;

}
.Search > .icon {
    color:#c7d2da;
}

.Box > .Learn {
    padding: 12px 12px;
    box-sizing:border-box;
    display:flex;
    flex-direction: column;
    background:rgb(26,34,39);
    border-radius:8px;
}
.Learn > .title {
    padding-bottom: 12px;
    font-size:14px;
    font-weight:500;
    color:#c7d2da;
}
.Learn > .site {
    display:flex;
    flex-direction: column;
}

.Learn > .site > .form {
    padding-bottom: 8px;
}

.Learn > .site > .form > a {
    cusor: pointer;
    color:#ffffff;
}

.site > .form > a > .box {
    padding: 4px 12px;
    align-items: center;
    display:flex;
    background: #141a1e;

}

.box > .icon {
    margin-right: 12px;
}

.box > .description {
}

.box > .description > .title {
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
    color:red;
    font-weight: 500;
}

.box > .description > .read {
    font-size: 12px;
}

/* Trend */
.Box > .Trend {
   padding: 12px 12px;
    background:rgb(26,34,39);
    border-radius:8px;
    display:flex;
    flex-direction: column;
}

.Trend > .pagenation {
    padding-bottom: 12px;
    display:flex;
    align-items: center;
    justify-content: space-between;

}

.Trend > .pagenation > h4 {
    font-size: 14px;
    font-weight: 500;
}

.Trend > .pagenation > .page {
    align-items: center;
    display:flex;
}

.Trend > .pagenation > .page > button {
    cursor: not-allowed;
    background:transparent;
    opacity: .5;
    border:none;

    display:flex;
    align-items: center;
    color:#ffffff;
}

.Trend > .pagenation > .page > .number {
    padding:0px 4px;
    font-size: 12px;
}

.Trend > .item {
    display:flex;
    flex-direction: column;
}

.Trend > .item > .container {
    overflow:hidden;
    border-radius: 8px;
}

.Trend > .item > .container > .row {
    padding: 4px 8px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Trend > .item > .container > .row > .left {
     align-items: center;
    display:flex;
}

.Trend > .item > .container > .row > .left > img {
    width:30px;
    height: 30px;
    margin-right: 8px;
    vertical-align: middle;
}

.Trend > .item > .container > .row > .left > .box {
    display:flex;
    flex-direction: column;
}

.Trend > .item > .container > .row > .right {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}

.right > span {
    font-weight: 500;
}

.right > .won {
    font-size: 14px;
    align-items: center;
    display: flex;
}

.percent > span {
    font-weight: 500;
}
.percent > .won {
    font-size: 14px;
    align-items: center;
    display:flex;
}

.box > .title {
    text-align: left;

}
.box > .description {
    font-size: 12px;
}

/** 상태 변환 Container **/
.Center {
    width:100%;
    max-width:890px;
    border: 1px solid red;
    display:flex;
    flex-direction: column;
}

.Center > .first {
    padding-bottom: 32px;
}

.Center > .first > .Container {
    display:flex;
    flex-direction: column;
    padding-bottom: 32px;
}

.Center > .first > .Container > .header  {
    max-width:1200px;
    padding: 0px 32px;
    border:1px solid red;

}
.Center > .first > .Container > .header > .top {
    padding-top: 32px;
    display:flex;
    flex-direction: column;

}
.first > .Container > .header > .top > h1 {
    font-size: 24px;
    font-weight: 500;
}
.first > .Container > .header > .top > p {
    margin:1em 0;
    font-size: 16px;

}

.first > .Container > .header > .address > a {
    text-decoration: underline;
    color:#ffffff;
    cursor:pointer;
    font-size: 16px;
}

.Center > .second {
    margin:0 auto;
    padding: 0px 32px;
    width:100%;
    max-width: 1200px;
    border:1px solid red;
}

.Center > .second > .Container {
    padding-bottom: 32px;
    display:flex;
    flex:1 1;
}

.Center > .second > .Container > .card {
    margin:auto;
    max-width:475px;
    width:100%;
    box-shadow: 0 2px 8px rgb(255,255,255);
    border-radius: 8px;
    font-size:14px;

}

.card > .section {
    border-bottom: 1px solid #2c3a43;
    padding: 16px;
}

.card > .section > .from {
    margin-bottom: 20px;
}

.card > .section > .from > .text {
    border:1px solid #2c3a43;
    border-radius:8px;
}

.card > .section > .from > .text > .row {
    display:flex;
    margin-top: 12px;
    align-items: center;
    padding: 0px 12px;

}
.card > .section > .from > .text > .row > h1 {
    color:#c7d2da;
    display:flex;
    font-size: 12px;
    flex: 1 1;
}
.card > .section > .from > .text > .row > .hover {
    color:#c7d2da;
    transition: .3s;
    cursor: pointer;
}
.card > .section > .from > .text > .row > .token > img {
    box-shadow: 0 0 0 2px #2c3a43;
    margin-right: 12px;
    border-radius:100%;
    width:36px;
    height:36px;
    border:1px solid rgb(255,255,255);
}


.row:last-child > .token {
    display: inline-flex;
    height:50px;

    transition:.3s;
    cursor: pointer;
    border-radius: 8px;
    align-items: center;
}

.row:last-child > .token > .invest {
    display:inline-flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    font-weight: bold;
}

.row:last-child > .input {
    text-align: right;
    width:auto;
    position:relative;
}

.row:last-child > .input > input {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
    width:100%;
    font-size: 30px;
    font-weight: 500;
    box-sizing: border-box;
    height: auto;
    padding: 0;
    text-align: right;
    background:transparent;
    border:none;
    outline: none;
}

.row:last-child > .input > .support {
    color:#c7d2da;
    position:absolute;
    bottom:0;
    right: 0;
    margin-bottom: -16px;
}



.card > .section > .from > .middle {
    padding: 8px 16px;
}

.middle > .row {
    color:#c7d2da;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.middle > .row > .center {
    display:flex;
    align-items: center;
    flex-basis: auto;
    flex-grow:1;
    justify-content: center;
}

.middle > .row > .center > .exchange {
    opacity: 0.5;
    cursor: not-allowed;

    background:linear-gradient(135deg, #784ffe, #a160fe);
    font-size:16px;
    font-weight: 500;
    border-radius:100%;
    border:none;
    outline:none;
    padding:8px;
    white-space: nowrap;
    color:#fff;
    box-shadow: 0 2px 12px rgb(120 79 254 / 25%);
}

.card > .section > .from > .invest {
      border:1px solid #2c3a43;
    border-radius:8px;
}

.card > .section > .from > .invest > .row1 {
    margin-top: 12px;
    display:flex;
    font-size: 14px;
    padding:0 12px;
    align-items: center;
    border:1px solid red;
}
.card > .section > .from > .invert > .row1 > h2 {
    display:flex;
    flex: 1 1;
    font-size: 14px;
}

.card > .section > .from > .invest > .row2 {
   display:flex;
    align-items: center;
    padding: 0 12px;
    margin-top: 4px;
    color:#ffffff;
}


.card > .section > .from > .invest > .row:last-child {
    margin-bottom: 12px;
    display:flex;
    padding:0 12px;
    align-items: center;
}


.exchange > .flex {
  display:flex;
    align-items: center;
    color:#fff;
    transition: .3s;
}

/** Media Query 1440 x 1236px **/
@media screen and (max-width:1440px) {
    .Widgets {
        z-index:10;
        height:100%;
        flex-direction: column;
        overflow:hidden auto;
        visibility: visible;
        min-height: 992px;
        /*border:1px solid rgb(44,58,67);*/
        width:350px;
         left: calc(49% + 390px);

    }
}

@media screen and (max-width:1200px ) {
    .Widgets {
        z-index:10;
        height:100%;
        flex-direction: column;
        overflow:hidden auto;
        visibility: visible;
        min-height: 992px;
        /*border:1px solid rgb(44,58,67);*/
        width:350px;
        left: calc(35% + 390px);

    }


}

@media screen and (min-width: 1200px) {
    .Wrapper > .Top > .Title {
        padding-top:32px;
    }

}

/** Media Only 1024 and 600px **/
@media only screen  and (max-width:1024px) and (min-width:600px) {
    .SideBar > .hidden {
        padding: 16px 8px;
    }

    .SideBar > .hidden {
        border-right: 1px solid #2c3a43;

        flex-direction: column;
        height: 100%;
        box-sizing: border-box;
        position: fixed;

        z-index: 10;
        overflow-y: auto;
        max-width: 64px;
    }


    .hidden > .Brand {
       justify-content: center;
        display:flex;
        align-items: center;
        cursor: pointer;
        margin-bottom: 32px;
    }

    .Brand > .mid {
        margin-left: 12px;

    }

    .mid > span {
        font-size: 20px;
        font-weight:600;
        display: none;
    }


    .hide > .flex > svg {
        margin-left: 4px;
        transition: .3s;
        color:#fff;

        float:right;
    }



    .account_connected {
        display:flex;
        flex-direction: column;
        flex: 1 1;
    }

    .account_connected > .account {
        position: relative;
        cursor:default;
    }

    .account > .header {
        background:#1a2227;
        color:#fff;
        border:1px solid #2c3a43;

        display:flex;
        align-items: center;
        padding: 0 12px;
        height: 54px;
        transition: .3s;
        border-radius: 8px;
        font-weight: 500;
        cursor: pointer;
    }

    .header > .sidebar {
        display:flex;
        align-items: center;
        width:100%;

    }

    .sidebar > .blockie {
        width:40px;
        height: 40px;
        position: relative;
        border-radius: 100%;
        cursor:pointer;
        background-size:cover;
        background-position: 50%;
        box-shadow: 0 0 0 2px #2c3a43;
    }

    .blockie > .edit {
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        position:absolute;
        z-index:11;
        opacity: 0;
        transition: 3s;
        width:100%;
        height: 100%;
        display:flex;
        background-color:rgba(0,34,57,.25);
    }

    .blockie > span {
        position: absolute;
        bottom: 2px;
        right: 0;
        width: 8px;
        height: 8px;
        border-radius: 5px;
        background: #00d897;
    }

    .blockie > canvas {
        width:40px;
        height: 40px;
        border-radius: 100%;
    }

    .flex-max {
        margin-left: 12px;
        flex: 1 1;

    }

    .flex-max > .flex {
        display:flex;
        align-items: center;
    }

    .flex > .title {
        font-size:16px;
        display:flex;
        flex: 1 1;
        color:red;
        align-items: center;
    }

    .flex > .level {
        display:flex;
        align-items: center;
    }

    .exp {
        width:129px;
        height: 4px;
    }






    /* Quest */


    /* Quest Reward 이동 */
    .sidebar__gamification {
        display:grid;
        grid-gap: 8px;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .sidebar__gamification > a {
        text-decoration: none;
        transition: .3s;
        color:inherit;
        cursor: pointer;
    }

    .sidebar__gamification > a > button {
        /*display:none;*/
        padding:4px 0px;
        display:flex;
        text-align:center;

    }



    .sidebar__gamification > a > button > .flex {
        display:flex;
        align-items: center;
    }
    .sidebar__gamification > a > button > .flex > span {
        display:none;
        position: absolute;
        width:8px;
        height: 8px;
        border-radius: 8px;
        top:-4px;
        right:-4px;
        background:#784ffe;
        color:#000000;
    }


    a > button > .alt {
        margin-right: 4px;
    }





}

/** Media Only 1480px **/
@media only screen and (min-width: 1480px) {
     .Home-container >  .Container {
        width:calc(1480px - 240px - 350px);
         min-height: 100%;
        border:1px solid #ffffff;
}
}