.Home-container {
    width:100%;
    max-width: 1480px;
    min-height: 100%;
    height: 100%;
    margin: 0 auto;
    display:flex;
}

.Home-container > .sidebar {
    height: 100%;
    width:240px;
    display:block;
}
.Home-container > .sidebar > .hidden {
    background:#141a1e;
    border-right: 1px solid #2c3a43;
    display:flex;
    flex-direction: column;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
    z-index: 10;
    position: fixed;
    width: inherit;
    overflow-y: auto;
}
.Home-container > .sidebar > .hidden > .brand {
    display:flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 32px;
}
.Home-container > .sidebar > .hidden > .brand > .mid {
    margin-left: 12px;
}

@media screen and (min-width: 1200px) {
    .Home-container {
        flex-direction: row;
    }
}

@media only screen and (min-width:1200px) {
    .Home-container > .sidebar {
        max-width:240px;
    }
}