.Widgets {

    border-left:1px solid #2c3a43;
    position: fixed;
    width:350px;
    height:100%;
    overflow:hidden auto;

    display:flex;
    flex-direction: column;
    background: red;
    width:100%;
    padding-top:12px;
    padding-bottom: 16px;
    padding-left:16px;
    padding-right: 16px;
    width:100%;

}


.Widgets  > .Box {
    padding-bottom: 16px;
}
.Widgets  > .Box > .Search {
    position:relative;
    flex: 1 1;
    max-width: 400px;

}
.Widgets  > .Box > .Search  > svg {
    color:#c7d2da;
    position: absolute;
    left: 0;
    margin-left: 12px;
    top:8px;

 }

.Widgets   > .Box > .Search > .form {
    position:relative;
    z-index:1;
    background:#202a30;
    box-sizing: border-box;
    border:none;
    box-shadow: none;
    height:40px;
    border-radius:8px;
    flex: 1 1;
    cursor:text;
    align-items: center;
    display:flex;
    flex-wrap:wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    outline: 0px;
}
.Widgets   > .Box > .Search > .form > h1 {
     flex-wrap:nowrap;
    flex-shrink: 0;
    margin-left: 48px;
    margin-right: 12px;
    align-items: center;
    padding:2px 8px;
    overflow:hidden;
    box-sizing: border-box;
    position:absolute;
    top:20%;
    transform: translateY(-50%);
    user-select: none;
    font-size: 16px;
 }

.Widgets > .Box > .Toggle {
    padding-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}
.Widgets > .Box > .Toggle > .Setting {
   cursor: pointer;
    transition:.3s;
    border:1px solid #2c3a43;
    align-items: center;
    padding:8px 12px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
.Widgets > .Box > .Token {
    border:1px solid #2c3a43;
    background:#1a2227;
    display:flex;
    flex-direction: column;
    padding:12px;
}
.Widgets > .Box > .Token > .Title {
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

.Widgets > .Box > .Token > .Title > .page {
    display: flex;
    align-items: center;
}
.Widgets > .Box > .Token > .Title > .page > span {
    padding:0px 4px;
    font-size: 12px;
    color:#c7d2da;

}

.Widgets > .Box > .Token > .Title > .page > button {
    cursor: not-allowed;
    background:transparent;
    color:#c7d2da;
    opacity: .5;
    padding:0;
}
.Widgets > .Box > .Token  > .whiteList {
    display:flex;
    flex-direction: column;
    overflow: hidden;
    border:1px solid #2c3a43;
}
.Widgets > .Box > .Token  > .whiteList > a > .item {

}

.Widgets > .Box > .Network {
    border:1px solid #2c3a43;
    box-sizing: border-box;
    border-radius:8px;
    background:#2c3a43;
    padding:12px;
}

.Widgets > .Box > .Network > .form {
     display:flex;
    flex-direction: column;
}
.Widgets > .Box > .Network > .form > .title {
    padding-bottom: 12px;
    font-size: 12px;
    color:#c7d2da;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.Widgets > .Box > .Learn {
    transition:.3s;
    box-sizing: border-box;
    border:1px solid #2c3a43;
    border-radius:8px;
    padding:12px;
    display:flex;
    flex-direction: column;
    background:#1a2227;
}
.Widgets > .Box > .Learn > .row {
    padding-bottom: 12px;
    font-size: 14px;
    font-weight: 500;
}
.Widgets > .Box > .Learn > .site {
   display:flex;
    flex-direction: column;
    padding-bottom: 12px;
}

@media only screen and (min-width: 1200px) {
    .Widgets {
        width:350px;
        height: 100%;
        position:relative;
        visibility: visible;
    }
}