.Widgets {
    position:fixed;
    height:100%;
    overflow-y: auto;
    display:flex;
    flex-direction: column;
}

.Widgets > .Container {
    padding: 12px  16px;
    display: flex;
    flex-direction: column;
}
.Widgets > .Container > .Body {
    padding:0px 16px;
    display:flex;
    flex-direction: column;

}
.Widgets > .Container > .Body > .Box {
    padding-bottom: 16px;
}
.Widgets > .Container > .Body > .Box > .Search {
    position:relative;
    flex: 1 1;
    max-width: 400px;
    box-sizing: border-box;
    background:#202a30;
    border:none;
    box-shadow: none;
    height: 40px;
    border-radius: 8px;
    flex: 1 1;
    cursor:text;
    align-items: center;
    display:flex;
    flex-wrap: wrap;
    min-height: 38px;
    outline: 0;

}
.Widgets > .Container > .Body > .Box > .Search  {
    padding-left: 0;
    display:flex;
}

.Widgets > .Container > .Body > .Box > .Search  > svg {
     color:#c7d2da;
    margin-left: 12px;
}

.Widgets > .Container > .Body > .Box > .Search > .form {
    flex-wrap:wrap;
    margin-left: 12px;
}
.Widgets > .Container > .Body > .Box > .Toggle {
    padding-top: 4px;
    justify-content: space-between;
    display:flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
}
.Widgets > .Container > .Body > .Box > .Toggle > .Setting {
    border:1px solid #2c3a43;
    padding: 8px 12px;
    width:fit-content;
    align-items: center;
    display:flex;
}
.Widgets > .Container > .Body > .Box > .Token {
    border:1px solid #2c3a43;
    background:#1a2227;
    padding:12px;
}
.Widgets > .Container > .Body > .Box > .Token > .Title {
    padding-bottom: 12px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.Widgets > .Container > .Body > .Box > .Token > .Title > h4 {
    color:#c7d2da;
    font-size: 14px;
    font-weight: 500;
}

.Widgets > .Container > .Body > .Box > .Token > .Title > .page {
     display:flex;
    align-items: center;
}
.Widgets > .Container > .Body > .Box > .Token > .Title > .page > span {
    font-size: 12px;
    color:#c7d2da;
}
.Widgets > .Container > .Body > .Box > .Token > .Title > .page > button {
    cursor:not-allowed;
    background:transparent;
    color:#c7d2da;
    opacity: .5;
    border-style:none;
    padding:0;
    text-transform: none;
    line-height: normal;

}
.Widgets > .Container > .Body > .Box > .Token > .whiteList {
     display:flex;
    flex-direction: column;
    border:1px solid #2c3a43;
    border-radius: 8px;
    overflow: hidden;
    background:#141a1e;
}

.Widgets > .Container > .Body > .Box > .Token > .whiteList > a {
     background:#141a1e;
    padding:4px 8px;
}
.Widgets > .Container > .Body > .Box > .Token > .whiteList > a > .item {
     display:flex;
    align-items: center;
}
.Widgets > .Container > .Body > .Box > .Token > .whiteList > a > .item > img {
    height: 30px;
    width:30px;
    background:#141a1e;
    box-shadow: 0 0 0 2px #2c3a43;
    border-radius:100%;
    margin-right: 8px;
    vertical-align: middle;
}
.Widgets > .Container > .Body > .Box > .Token > .whiteList > a > .item > .title {
   display:flex;
    flex-direction: column;
}
.Widgets > .Container > .Body > .Box > .Token > .whiteList > a > .item > .title > .top {
    text-align: left;
    font-weight: 500;
    color:#c7d2da;
}
.Widgets > .Container > .Body > .Box > .Token > .whiteList > a > .item > .title > .bottom {
    color:#c7d2da;
    font-size: 12px;
}

.Widgets > .Container > .Body > .Box > .Token > .whiteList > a > .pay {
    border-top:1px solid #c7d2da;
}

.Widgets > .Container > .Body > .Box > .Network {
     box-sizing: border-box;
    border:1px solid #2c3a43;
    border-radius:8px;
    background: #2c3a43;
    padding:12px;
}

.Widgets > .Container > .Body > .Box > .Network > .form {
    display:flex;
    flex-direction: column;

}
.Widgets > .Container > .Body > .Box > .Network > .form > .title {
    padding-bottom: 12px;
    color:#c7d2da;
    font-size: 14px;
    font-weight: 500;
    display:flex;
    align-items: center;

}
.Widgets > .Container > .Body > .Box > .Network > .form > .box {
    display:flex;
    flex-direction: column;
    overflow:hidden;
    border:1px solid #2c3a43;
    border-radius:8px;
    background:#2c3a43;
}

@media only screen and (min-width: 1201px) {
    .Widgets {
        width:350px;
        height: 100%;
        position:relative;
        visibility: visible;
    }
}