
.Home-container {
    width:100%;
  max-width:1480px;
  min-height: 100%;
  margin:0 auto;
  display:flex;
  flex-direction:row;
}


/*  Cente rComponet  */
.Home-container > .Center {
   display:flex;
    flex-direction: column;
    flex: 1 1;
    border-right:1px solid #2c3a43;
}

/*  mobile-content  */
.Home-container > .Center > .app-header  {
  display:none;
    width:100%;
    padding:12px 0;

}
.Home-container > .Center > .app-header > .mobile {
    padding-bottom:12px;

}

@media screen and (min-width:1480px) {
    .Home-container > .Center {
        width:calc(1480px - 240px - 350px);
    }
}

@media screen and (max-width:600px) {
    .Home-container > .Center > .app-header {
        display:block;

    }
    .Home-container > .Center > .app-header > .mobile {
        display:inherit;
    }

}

