.Home-container {
  width:100%;
  max-width:1480px;
  min-height: 100%;
  height: 100%;
  margin:0 auto;
  display:flex;
}

.Home-container > .sidebar {
    width:240px;
    height:100%;
    display:block;
}
.Home-container > .sidebar > .hidden {
  background:#141a1e;
  border-right: 1px solid #2c3a43;

  display:flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;

  flex-direction: column;
  height:100%;
  padding: 16px;
  box-sizing: border-box;
  z-index: 10;
  position:fixed;
  width: inherit;
  overflow-y: auto;
}

.Home-container > .sidebar > .hidden > .brand {
  display:flex;
  -moz-box-orient: center;
  align-items: center;
  cursor:pointer;
  margin-bottom: 32px;
}
.Home-container > .sidebar > .hidden > .brand > svg {
   cursor:pointer;
}
.Home-container > .sidebar > .hidden > .brand > .mid {
  margin-left: 12px;
}
.Home-container > .sidebar > .hidden > .brand > .mid > span {
  font-size: 20px;
  font-weight: 600;
  color:#fff;
}

.Home-container > .sidebar > .hidden > .connected {
   display:flex;
   -moz-box-orient: vertical;
   -moz-box-direction: normal;
   flex-direction: column;
   -moz-box-flex: 1;
   flex: 1 1;
   
}
.Home-container > .sidebar > .hidden > .connected > .account {
  position:relative;
  cursor:pointer;
}

.Home-container > .sidebar > .hidden > .connected > .account > .header {
   background:#1a2227;
   color:#fff;
   border:1px solid #2c3a43;
   display:flex;
   -moz-box-align: center;
   align-items:center;
   padding: 0 12px;
   height: 54px;
   transition:.3s;
   border-radius: 8px;
   font-weight: 500;
   cursor:pointer;
}
.Home-container > .sidebar > .hidden > .connected > .account > .header  > .account {
    display:flex;
    -moz-box-align: center;
    align-items: center;
    width:100%;
}
.Home-container > .sidebar > .hidden > .connected > .account > .header  > .account > .blockie {
  width:40px;
  height: 40px;
  box-shadow: 0 0 0 2px #2c3a43;
  cursor:pointer;
  position:relative;
  border-radius:100%;
  background-size:cover;
  background-position: 50%;
  color:#fff;
}

.Home-container > .sidebar > .hidden > .connected > .account > .header  > .account > .blockie > .edit {
  -moz-box-align: center;
  align-items:center;
  -moz-box-pack:center;
  justify-content: center;
  border-radius:100%;
  position:absolute;
  z-index: 11;
  opacity:0;
  transition:.3s;
  width:100%;
  height:100%;
  display:flex;
  background:rgba(0,34,57,.25);
}
.Home-container > .sidebar > .hidden > .connected > .account > .header  > .account > .blockie > span {
  position:absolute;
  bottom:2px;
  right:0;
  width: 8px;
  height:8px;
  border-radius: 5px;
  background:#00d897;
}
.Home-container > .sidebar > .hidden > .connected > .account > .header  > .account > .blockie > canvas {
  width:40px;
  height:40px;
  border-radius: 100%;
}
.Home-container > .sidebar > .hidden > .connected > .account > .header  > .account > .hide {
  margin-left: 12px;
  -moz-box-flex: 1;
  flex: 1 1;
  
}
.Home-container > .sidebar > .hidden > .connected > .account > .header  > .account > .hide > .flex {
  display:flex;
  -moz-box-align:center;
  align-items:center;
}

.Home-container > .sidebar > .hidden > .connected > .account > .header  > .account > .hide > .flex > span {
  font-size: 14px;
  -moz-box-flex: 1;
  
  flex: 1 1;
  -moz-box-align:center;
  align-items: center;
  display:flex;
  font-weight: 800;
}
.Home-container > .sidebar > .hidden > .connected > .account > .header  > .account > .hide > .flex > .icon {
  display:flex;
  -moz-box-align: center;
  align-items:center;
}
.Home-container > .sidebar > .hidden > .connected > .account > .header  > .account > .hide > .xp > .bar {
   position:relative;
   border-radius:8px;
   width:100%;
   height:4px;
   background:#2c3a43;
   display:block;
}
.Home-container > .sidebar > .hidden > .connected > .account > .header  > .account > .hide > .xp > .bar > span {
  width: 0%;
  height: 4px;
  border-radius: 8px;
  position:absolute;
  top: 0;
  background: #784ffe;
  left: 0;
}
.Home-container > .sidebar > .hidden > .connected > .account > .header  > .account > .hide >  .gaming {
   color:#c7d2da;
   font-size:10px;
   line-height: 1.4;
   font-weight: 400;
   margin-top: 2px;
   -moz-box-pack: justify;
   justify-content: space-between;
   display:flex;
   -moz-box-align: center;
   align-items:center;
}
.Home-container > .sidebar > .hidden > .connected > .account > .header  > .account > .hide >  .gaming  > span {

}

.Home-container > .sidebar > .hidden > .connected > .gamification {
   display:grid;
   grid-gap:8px;
   grid-template-columns: 1fr 1fr;
   -moz-box-align:center;
   align-items: center;
   margin-bottom: 8px;
   margin-top: 12px;
}
.Home-container > .sidebar > .hidden > .connected > .gamification > .visible {
  cursor:pointer;
}
.Home-container > .sidebar > .hidden > .connected > .gamification > .visible > button {
    color:#c7d2da;
    background: #202a30;
    min-height: 22px;

    display:flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack:center;
    justify-content: center;
    text-align:center;
    width:100%;
    border-radius:4px;
    font-size:12px;
    height: auto;

    line-height: normal;
    padding: 3px 6px;

    font-weight: 500;
    border:none;
    outline:none;
    cursor:pointer;
    position:relative;
    -webkit-appearance: button;
   
}
.Home-container > .sidebar > .hidden > .connected > .gamification > .visible > button > .flex {
  display:flex;
  -moz-box-align:center;
  align-items: center;
}

.Home-container > .sidebar > .hidden > .connected > .gamification > .visible > button > span {
   

}
.Home-container > .sidebar > .hidden > .connected > .gamification > .visible > button > .notification {
     display:block;
     position:absolute;
     width:8px;
     height: 8px;
     border-radius: 8px;
     background:#784ffe;
     top: -4px;
     right: -4px;
}

.Home-container > .sidebar > .hidden > .connected > .sidebar_menu {
  margin-top: 16px;
}

.Home-container > .sidebar > .hidden > .connected > .sidebar_menu > .menu--active {
  color:#fff;
  display:flex;
  padding:4px 0;
  -moz-box-align: center;
  align-items: center;
  border-radius:8px;
  transition:.3s;
  margin-bottom: 8px;
}
.Home-container > .sidebar > .hidden > .connected > .sidebar_menu > .menu--active > .icon {
  display:flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack:center;
  justify-content: center;
  width:30px;
  height: 30px;
  border-radius:100%;
}
.Home-container > .sidebar > .hidden > .connected > .sidebar_menu > .menu--active > .icon > .flex {
  display:flex;
  -moz-box-align:center;
  align-items:center;
}
.Home-container > .sidebar > .hidden > .connected > .sidebar_menu > .menu--active  > span {
  font-weight: 500;
  margin-left: 8px;
}

.Home-container > .sidebar > .hidden > .connected > .sidebar_menu > .more {
   display:flex;
   padding:4px 0;
   -moz-box-align: center;
   align-items:center;
   margin-bottom: 8px;
   border-radius: 8px;
   transition:.3s;
}
.Home-container > .sidebar > .hidden > .connected > .sidebar_menu > .more > .icon {
  display:flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  width:30px;
  height: 30px;
  border-radius:100%;
}
.Home-container > .sidebar > .hidden > .connected > .sidebar_menu > .more > .icon > .flex {
  display:flex;
  -moz-box-align: center;
  align-items: center;
  transition:.3s;
}
.Home-container > .sidebar > .hidden > .connected > .sidebar_menu > .more > span {
  margin-left: 8px;
}

.Home-container > .sidebar > .hidden > .connected > .flex-max {
  -moz-box-flex: 1;
  flex: 1 1;
  border:1px solid #fff;
}
.Home-container > .sidebar > .hidden > .connected > .menu_item {
  color:#c7d2da;
  display:flex;
  padding: 4px 0;
  -moz-box-align:center;
  align-items: center;
  border-radius:8px;
  transition:.3s;
  margin-bottom: 8px;


}
.Home-container > .sidebar > .hidden > .connected > .menu_item  > .icon {
     display:flex;
     -moz-box-align: center;
     align-items: center;
     -moz-box-pack:center;
     justify-content: center;
     height: 30px;
     width: 30px;
     border-radius: 100%;
}

.Home-container > .sidebar > .hidden > .connected > .menu_item  > .icon  > .flex {
  display:flex;
  -moz-box-align: center;
  align-items: center;
  color:#c7d2da;
}
.Home-container > .sidebar > .hidden > .connected > .menu_item  > span {
  margin-left: 8px;
}

.Home-container > .sidebar > .hidden > .connected > .network {
   position:relative;
   cursor:default;
}

.Home-container > .sidebar > .hidden > .connected > .network > .header {
  border:1px solid #2c3a43;
  background: #1a2227;
  height:50px;
  display:flex;
  -moz-box-pack:justify;
  justify-content: space-between;
  -moz-box-align: center;
  align-items: center;
  padding: 0 16px;
  transition:.3s;
  border-radius: 8px;
  font-weight:500;
  cursor:pointer;
  user-select:none;
}
.Home-container > .sidebar > .hidden > .connected > .network > .header  > .flex-max {
  display:flex;
  -moz-box-flex: 1;
  flex: 1 1;
  -moz-box-align: center;
  align-items:center;
}
.Home-container > .sidebar > .hidden > .connected > .network > .header  > .flex-max  > img {
  box-shadow: 0 0 0 2px #2c3a43;
  width:30px;
  border-radius: 100%;
  user-select:none;
}

.Home-container > .sidebar > .hidden > .connected > .network > .header  > .flex-max  > h1 {
  margin-left: 8px;
  -moz-box-flex: 1;
  flex: 1 1;
}
.Home-container > .sidebar > .hidden > .connected > .network > .header  > .flex-max  > .hide {
  
}
.Home-container > .sidebar > .hidden > .connected > .network > .header  > .flex-max  > .hide > .flex {
   display:flex;
   -moz-box-align: center;
   align-items: center;
}
.Home-container > .sidebar > .hidden > .connected > .form {
   padding-top: 12px;
   -moz-box-pack: justify;
   justify-content:space-between;
   -moz-box-align: center;
   align-items: center;
   display:flex;
}
.Home-container > .sidebar > .hidden > .connected > .form > .language {
  width:fit-content;
}
.Home-container > .sidebar > .hidden > .connected > .form > .language > .container {
  margin:0px;
  height:30px;
  max-width:200px;
  transition:.3s;
  cursor:pointer;
  border:1px solid #202a30;
  border-radius:8px;
  background-color: #2c3a43;
  color:#fff;
  font-size:14px;
  font-weight: 500;
  padding: 0px 8px;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  flex-direction: row;

  -moz-box-align: center;
  align-items: center;
  display:flex;
}
.Home-container > .sidebar > .hidden > .connected > .form > .language > .container > img {
  margin:0;
  box-shadow:  0 0 0 2px #2c3a43;
  width:20px;
  height: 20px;
  border-radius: 100%;
  border: 0;
}

.Home-container > .sidebar > .hidden > .connected > .form > .language > .container > .title {
  padding-left: 8px;
  -moz-box-align: center;
  align-items: center;
  display:flex;
  
}
.Home-container > .sidebar > .hidden > .connected > .form > .language > .container >  .title > .button {
   transition:.3s;
   -moz-box-align: center;
   display:flex;
}

.Home-container > .sidebar > .hidden > .connected > .form > .language > .container  > .title > span {
}

.Home-container > .sidebar > .hidden > .connected > .form >  .toggle {
   width:fit-content;
}

.Home-container > .sidebar > .hidden > .connected > .form >  .toggle > .style {
  position:relative;
  display:inline-block;
  text-align: left;
  opacity: 1;
  direction:ltr;
  border-radius: 17px;
  transition: opacity 0.25 ease 0s;
  touch-action: none;
  user-select: none;
}
.Home-container > .sidebar > .hidden > .connected > .form >  .toggle > .style > .bg {
  height:34px;
  width:64px;
  margin: 0px;
  position: relative;
  background:rgba(120, 79, 254) none repeat scroll 0% 0%;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.25s ease 0s;
}
.Home-container > .sidebar > .hidden > .connected > .form >  .toggle > .style > .bg  > .night {
   height:34px;
   width: 64px;
   position: relative;
   opacity: 1;
   pointer-events: none;
   transition: opacity 0.25s ease 0s;
}

.Home-container > .sidebar > .hidden > .connected > .form >  .toggle > .style > .bg  > .night > .icon {
  -moz-box-pack:center;
  justify-content: center;
  height: 100%;
  display:flex;
  -moz-box-align: center;
  align-items: center;
}

.Home-container > .sidebar > .hidden > .connected > .form >  .toggle > .style > .bg   > .icon {
  width:39px;
  height:34px;
  position:absolute;
  opacity: 0;
  right: 0;
  top: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
}
.Home-container > .sidebar > .hidden > .connected > .form >  .toggle > .style > .bg   > .icon  > .switch {
   -moz-box-pack:center;
   justify-content:center;
   height: 100%;
   display:flex;
   -moz-box-align: center;
   align-items: center;
} 

.Home-container > .sidebar > .hidden > .connected > .form >  .toggle > .style > .bundle {
  height: 34px;
  width: 64px;
  position:relative;
  margin: 0;
  background: rgb(120,79,254) none repeat scroll 0% 0%;
  border-radius: 8px;
  cursor:pointer;
  transition: background 0.25s ease 0s;
}


.Home-container > .Center > .app-header {
   width:100%;
   padding: 12px 0;
   display:none;
}

.Home-container > .Center > .DashBoard {
  border-right: 1px solid #2c3a43;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  display:flex;
  -moz-box-flex: 1;
  flex: 1;
}
.Home-container > .Center > .DashBoard  > .Wrapper {
  width: 100%;
  padding-bottom: 30px;
  -moz-box-flex: 1;
  flex: 1 1;
  border:1px solid red;
}

.Home-container > .Widgets {
   
}

.Home-container > .Widgets > .Container {
     position:fixed;
     height: 100%;
     width:350px;
     overflow:hidden auto;
     -moz-box-orient:vertical;
     -moz-box-direction: normal;
     display:flex;
     flex-direction: column;
}
.Home-container > .Widgets > .Container > .Body {
  width:100%;
  padding-bottom: 16px;
  padding-top:16px;
  border:1px solid red;
}
.Home-container > .Widgets > .Container > .Body > .Bottom  {
  padding: 0px 16px;
  width:100%;
  -moz-box-orient: vertical;

  display:flex;
  -moz-box-direction:normal;
  flex-direction: column;
   
  display:flex;
}
.Home-container > .Widgets > .Container > .Body > .Bottom > .Box {
  padding-bottom:16px;
}
.Home-container > .Widgets > .Container > .Body > .Bottom > .Box  > .Search {
  position:relative;
  -moz-box-flex: 1;
  max-width:400px;
}
.Home-container > .Widgets > .Container > .Body > .Bottom > .Box  > .Search  > .icon {
  color:#c7d2da;
  position:absolute;
  left:0;
  margin-left: 12px;
  position:absolute;
  top: 8px;
  z-index: 1;
}
.Home-container > .Widgets > .Container > .Body > .Bottom > .Box  > .Search  >  .form {
  position:relative;
  box-sizing: border-box;
  background:#202a30;
  border:none;
  transition:.3s;
  box-sizing: none;

  height: 40px;
  border-radius: 8px;
  -moz-box-flex: 1;
  cursor: text;
  -moz-box-align:center;
  align-items: center;

  display:flex;
  flex-wrap:wrap;
  -moz-box-pack:justify;
  justify-content: space-between;
  min-height: 38px;
  outline: currentcolor none 0px;
  position:relative;
  box-sizing: border-box;
}
.Home-container > .Widgets > .Container > .Body > .Bottom > .Box  > .Search  > .form > .value {
      flex-wrap:nowrap;
      flex-shrink: 0;
      margin-left: 48px;
      margin-right: 12px;
      padding-left: 0;

      -moz-box-align: center;
      align-items: center;
      display:flex;
      flex: 1 1 0%;
      padding: 2px 8px;
      position:relative;
      overflow:hidden;
      box-sizing:border-box;
}
.Home-container > .Widgets > .Container > .Body > .Bottom > .Box  > .Search  > .form > .value > h1 {
  color:#c7d2da;
  white-space: nowrap;

  margin-left: 2px;
  margin-right: 2px;
  position:absolute;
  top:50%;
  transform:translate(-50%);
  box-sizing: border-box;
  pointer-events: none;
  user-select:none;
  
}
.Home-container > .Widgets > .Container > .Body > .Bottom > .Box  > .Search  > .form > .value > .indicators {
  margin:2px;
  padding-bottom: 2px;
  padding-top: 2px;
  color:rgba(51,51,51);
  box-sizing: border-box;
  flex: 1 1 auto;
}

@media only screen and (min-width:1201px) {
  .Home-container > .Widgets {
    width:350px;
    height: 100%;
    position:relative;
    visibility: visible;
  }
}

@media only screen and (min-width:1200px) {
  .Home-container > .sidebar {
    min-width:240px;
    display:block;
  }
 

}
@media only scrren and (min-width:1480px) {
  .Home-container > .Center > .DashBoard {
    width: calc(1480px - 240px -350px);
  }
}

@media screen and (min-width:1200px) {
 .Home-container {
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
 }
 .Home-container > .sidebar > .hidden > .connected > .form {
   padding-left: 0;
   padding-right: 0;
   -moz-box-orient: horizontal;
   -moz-box-direction: normal;
   flex-direction: row;
   gap: 0;
 }


}

@media screen and (max-width:1200px) and (min-width:600px) {
  .Home-container > .sidebar {
    width:81px;
    max-width:81px;
  }

  .Home-container > .sidebar > .hidden {
    padding: 16px 8px;
  }
  .Home-container > .sidebar > .hidden > .brand  {
    -moz-box-pack: center;
    justify-content: center;
  }
  .Home-container > .sidebar > .hidden > .brand > .mid {
    display:none;
  }
  .Home-container > .sidebar > .hidden > .connected > .account > .header > .account > .hide {
    display:none;
  }

  .Home-container > .sidebar > .hidden > .connected > .gamification {
    grid-template-columns: repeat(1,1fr);
    margin-top: 8px;
    padding: 0;
    margin-bottom: 8px;
  }
  .Home-container > .sidebar > .hidden > .connected >  .sidebar_menu > .menu--active {
    -moz-box-pack:center;
    color:#fff;
    justify-content:center;
  }
  .Home-container > .sidebar > .hidden > .connected >  .sidebar_menu > .menu--active > span {
    display:none;
  }
  .Home-container > .sidebar > .hidden > .connected >  .sidebar_menu > .more  {
    align-items: center;
    -moz-box-align: center;
    justify-content: center;
  }
  .Home-container > .sidebar > .hidden > .connected >  .sidebar_menu > .more > span {
    display:none;
  }

  .Home-container > .sidebar > .hidden > .connected > .menu_item {
     -moz-box-pack:center;
     justify-content:  center;
  }
  .Home-container > .sidebar > .hidden > .connected > .menu_item > span {
    display:none;
  }
  .Home-container > .sidebar > .hidden > .connected > .network > .header > .flex-max > h1 {
    display: none;
  }
  .Home-container > .sidebar > .hidden > .connected > .network > .header > .flex-max > .hide {
    display:none;
  }

  .Home-container > .sidebar > .hidden > .connected > .form > .language > .container > .title > span {

  } 
}

@media screen and (max-width:600px) {
  .Home-container > .sidebar {
    pointer-events: none;
    display:none;
  }
  .Home-container > .Center > .app-header {
    border-bottom: none;
  }
    .Home-container > .Center > .app-header > .mobile {
      display:inherit;
    }
}

