

* {
 text-decoration: none;
}

html, body {
    text-decoration: none;
    margin:0;
    padding:0;
    border:0;
    font:inherit;
    vertical-align: baseline;
    height:100%;
    color:#222;
    font-size: 100%;;    
    line-height: 1.3975;

    overflow: hidden;
}



*.light-mode {
    background:#141a1e;
    color:#fff;

    transition: background-color 0.3s ease;
}
*.dark-mode {
    background-color:#141a1e;
    color:#fff;
}



div {
    display:block;
}

