#next, .wrapper, wrapper > *, body, html {
  height: 100%

}

html {
  font-size:100%;
  -webkit-text-size-adjust: 100%;
}
* {
  margin:0;
  padding:0;
  border:0;
  font:inherit;
  vertical-align: middle;
  text-decoration: none;
}

body {
  background:#141a1e;
  color:#fff;
  margin:0;
  font-family: Avenir Next, Arial sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3975;
  display:block;
  overflow-y: hidden;

}